include LICENSE *.py *.yml *.yaml *.txt *.md
include Makefile

# Tests
include tox.ini
recursive-include tests *.py
recursive-include tests *.jpg

# Documentation
include docs/Makefile
recursive-include docs *.svg
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.bat
prune docs/_build
